container {
  max-width: 80%;
}
body {
  margin: 0 auto;
  padding: 15px 0;
}
.weather-app {
  max-width: 640px;
  box-shadow: -2px 3px 28px #408ec6;
  background: radial-gradient(
    circle,
    rgba(30, 39, 97, 1) 30%,
    rgba(122, 32, 72, 1) 80%
  );
  opacity: 80%;
  border: 10px;
  border-radius: 40px 40px 40px 40px;
  padding: 20px;
  margin: 0 auto;
}
