.search-form {
  margin: 10px 0;
}
#location-input,
#searchButton,
#currentLocation {
  display: inline-block;
  border-radius: 10px;
  font-size: 14px;
  height: 30px;
  line-height: 2px;
  border-color: #408ec6;
  padding: 15px 20px;
}
